<div layout:decorate="layout">
	<div layout:fragment="contents">
		<h1><span th:text="${hotel.name}"></span> レビュー一覧</h1>
		<div class="row">
			<div class="col-md-4 my-2" th:each="review:${reviews}" th:object="${review}">
				<div class="card h-100">
					<div class="card-header d-flex justify-content-between align-items-center">
						<div><small>評価 : </small><span th:text="*{rating}" class="font-weight-bold"></span></div>
						<small>投稿日 : <span th:text="*{#dates.format(createdAt, 'yyyy/MM/dd HH:mm')}"></span></small>
					</div>
					<div class="card-body">
						<p class="card-title mb-2"><span th:text="*{name}"></span></p>
						<p th:text="*{body}" class="card-text font-weight-bold"></p>
						<div class="text-right">
							<a th:href="@{/hotels/{hotel_id}/reviews/{id}(hotel_id=*{hotel.id},id=*{id})}">詳細</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex justify-content-around mt-3">
			<a class="btn btn-outline-info" th:href="@{/hotels/{hotel_id}/reviews/new(hotel_id=${hotel.id})}">レビューを投稿する</a>
			<a th:href="@{/hotels/{hotel_id}(hotel_id=${hotel.id})}" class="btn btn-outline-info"><span th:text="*{hotel.name}"></span> 詳細</a>
			<a href="/hotels" class="btn btn-outline-info">ホテル一覧</a>
		</div>
	</div>
</div>