<div layout:decorate="layout">
	<div layout:fragment="contents">
		<h1><span th:text="*{hotel.name}"></span> を予約する</h1>
		<form th:action="@{/hotels/{hotel_id}/reservations/(hotel_id=*{hotel.id})}" th:method="post">
			<div class="form-group">
				<label class="control-label">お名前</label>
				<input class="form-control" type="text" name="name" />
			</div>
			<div class="form-group">
				<label class="control-label">メールアドレス</label>
				<input class="form-control" type="email" name="email" />
			</div>
			<div class="form-group">
				<label class="control-label">チェックイン日</label>
				<input class="form-control" type="date" name="startDate" />
			</div>
			<div class="form-group">
				<label class="control-label">チェックアウト日</label>
				<input class="form-control" type="date" name="endDate" />
			</div>
			<div class="form-group">
				<label class="control-label">人数</label>
				<select class="form-control" name="numOfPeople">
					<option value="1">1名様</option>
					<option value="2">2名様</option>
					<option value="3">3名様</option>
					<option value="4">4名様</option>
					<option value="5">5名様</option>
					<option value="6">6名様</option>
					<option value="7">7名様</option>
					<option value="8">8名様</option>
					<option value="9">9名様</option>
					<option value="10">10名様</option>
				</select>
			</div>
			<input class="form-control" type="hidden" name="hotelId" th:value="${hotel.id}" />
			<button class="btn btn-outline-success" type="submit">作成</button>
		</form>
		<div class="d-flex justify-content-around mt-3">
			<a th:href="@{/hotels/{hotel_id}(hotel_id=${hotel.id})}" class="btn btn-outline-info"><span th:text="*{hotel.name}"></span> 詳細</a>
			<a href="/hotels" class="btn btn-outline-info">ホテル一覧</a>
		</div>
	</div>
</div>